<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.zhiwei.jetpack.binding">
    <application>
        <activity android:name=".BindingActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BaseUseActivity"/>
        <activity android:name=".activity.CommonUseActivity"/>
        <activity android:name=".activity.AdvancedUseActivity"/>
    </application>
</manifest>
