<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.zhiwei.jetpack.binding">

	<!--权限-->
	<uses-permission android:name="android.permission.INTERNET" />

	<application>
		<activity
			android:name=".BindingActivity"
			android:label="DataBinding演示"
			android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<activity
			android:name=".activity.BaseUseActivity"
			android:label="Binding基础用法" />
		<activity
			android:name=".activity.CommonUseActivity"
			android:label="Binding进阶用法" />
		<activity
			android:name=".activity.AdvancedUseActivity"
			android:label="Binding高级用法" />
	</application>
</manifest>
